:root {
  --prism-color-background: #FBF8FF;
  --prism-color-error: #BA1A1A;
  --prism-color-error-container: #FFDAD6;
  --prism-color-inverse-on-surface: #F1EFF6;
  --prism-color-inverse-primary: #AEC6FF;
  --prism-color-inverse-surface: #2F3035;
  --prism-color-on-background: #1A1B1F;
  --prism-color-on-error: #FFFFFF;
  --prism-color-on-error-container: #410002;
  --prism-color-on-primary: #FFFFFF;
  --prism-color-on-primary-container: #001B4E;
  --prism-color-on-secondary: #FFFFFF;
  --prism-color-on-secondary-container: #091B36;
  --prism-color-on-surface: #1A1B1F;
  --prism-color-on-surface-variant: #44474F;
  --prism-color-on-tertiary: #FFFFFF;
  --prism-color-on-tertiary-container: #1F173C;
  --prism-color-outline: #74777F;
  --prism-color-outline-variant: #C4C6D0;
  --prism-color-primary: #0057D9;
  --prism-color-primary-container: #D7E3FF;
  --prism-color-scrim: #000000;
  --prism-color-secondary: #196A62;
  --prism-color-secondary-container: #D6E3FF;
  --prism-color-shadow: #000000;
  --prism-color-surface: #FBF8FF;
  --prism-color-surface-bright: #FBF8FF;
  --prism-color-surface-container: #ECE8F3;
  --prism-color-surface-container-high: #EAE7EF;
  --prism-color-surface-container-highest: #E4E1E9;
  --prism-color-surface-container-low: #F5F3FA;
  --prism-color-surface-container-lowest: #FFFFFF;
  --prism-color-surface-dim: #DCD9E1;
  --prism-color-surface-variant: #E1E2EC;
  --prism-color-tertiary: #705C9B;
  --prism-color-tertiary-container: #E8DEFF;
  --prism-elevation-level0: 0;
  --prism-elevation-level1: 1;
  --prism-elevation-level2: 2;
  --prism-elevation-level3: 3;
  --prism-elevation-level4: 4;
  --prism-elevation-level5: 5;
  --prism-shape-extra-large: 28px;
  --prism-shape-extra-small: 4px;
  --prism-shape-full: 9999px;
  --prism-shape-large: 16px;
  --prism-shape-medium: 12px;
  --prism-shape-none: 0px;
  --prism-shape-small: 8px;
  --prism-typography-body-large-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-body-large-font-size: 1rem;
  --prism-typography-body-large-font-weight: 400;
  --prism-typography-body-large-letter-spacing: 0.03125rem;
  --prism-typography-body-large-line-height: 1.5rem;
  --prism-typography-body-medium-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-body-medium-font-size: 0.875rem;
  --prism-typography-body-medium-font-weight: 400;
  --prism-typography-body-medium-letter-spacing: 0.015625rem;
  --prism-typography-body-medium-line-height: 1.25rem;
  --prism-typography-body-small-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-body-small-font-size: 0.75rem;
  --prism-typography-body-small-font-weight: 400;
  --prism-typography-body-small-letter-spacing: 0.025rem;
  --prism-typography-body-small-line-height: 1rem;
  --prism-typography-display-large-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-display-large-font-size: 3.5625rem;
  --prism-typography-display-large-font-weight: 400;
  --prism-typography-display-large-letter-spacing: -0.015625rem;
  --prism-typography-display-large-line-height: 4rem;
  --prism-typography-display-medium-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-display-medium-font-size: 2.8125rem;
  --prism-typography-display-medium-font-weight: 400;
  --prism-typography-display-medium-letter-spacing: 0rem;
  --prism-typography-display-medium-line-height: 3.25rem;
  --prism-typography-display-small-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-display-small-font-size: 2.25rem;
  --prism-typography-display-small-font-weight: 400;
  --prism-typography-display-small-letter-spacing: 0rem;
  --prism-typography-display-small-line-height: 2.75rem;
  --prism-typography-headline-large-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-headline-large-font-size: 2rem;
  --prism-typography-headline-large-font-weight: 400;
  --prism-typography-headline-large-letter-spacing: 0rem;
  --prism-typography-headline-large-line-height: 2.5rem;
  --prism-typography-headline-medium-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-headline-medium-font-size: 1.75rem;
  --prism-typography-headline-medium-font-weight: 400;
  --prism-typography-headline-medium-letter-spacing: 0rem;
  --prism-typography-headline-medium-line-height: 2.25rem;
  --prism-typography-headline-small-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-headline-small-font-size: 1.5rem;
  --prism-typography-headline-small-font-weight: 400;
  --prism-typography-headline-small-letter-spacing: 0rem;
  --prism-typography-headline-small-line-height: 2rem;
  --prism-typography-label-large-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-label-large-font-size: 0.875rem;
  --prism-typography-label-large-font-weight: 500;
  --prism-typography-label-large-letter-spacing: 0.00625rem;
  --prism-typography-label-large-line-height: 1.25rem;
  --prism-typography-label-medium-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-label-medium-font-size: 0.75rem;
  --prism-typography-label-medium-font-weight: 500;
  --prism-typography-label-medium-letter-spacing: 0.03125rem;
  --prism-typography-label-medium-line-height: 1rem;
  --prism-typography-label-small-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-label-small-font-size: 0.6875rem;
  --prism-typography-label-small-font-weight: 500;
  --prism-typography-label-small-letter-spacing: 0.03125rem;
  --prism-typography-label-small-line-height: 1rem;
  --prism-typography-title-large-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-title-large-font-size: 1.375rem;
  --prism-typography-title-large-font-weight: 400;
  --prism-typography-title-large-letter-spacing: 0rem;
  --prism-typography-title-large-line-height: 1.75rem;
  --prism-typography-title-medium-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-title-medium-font-size: 1rem;
  --prism-typography-title-medium-font-weight: 500;
  --prism-typography-title-medium-letter-spacing: 0.009375rem;
  --prism-typography-title-medium-line-height: 1.5rem;
  --prism-typography-title-small-font-family: "Public Sans", "Segoe UI", sans-serif;
  --prism-typography-title-small-font-size: 0.875rem;
  --prism-typography-title-small-font-weight: 500;
  --prism-typography-title-small-letter-spacing: 0.00625rem;
  --prism-typography-title-small-line-height: 1.25rem;
}